# Fichiers Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
*.vscode
*.config
# Dossiers de compilation
bin/
obj/

# Fichiers temporaires
*.log
*.tmp
*.vsidx

# Fichiers de build
*.exe
*.dll
*.pdb

# Résultats de build
*.cache
*.dbmdl
*.bak
*.backup
*.FileListAbsolute.txt

# Migration
Migrations/
migrations/
# Fichiers de configuration
appsettings.Development.json
appsettings.Production.json
appsettings.Staging.json
*.config # Fichiers de configuration génériques
!*.config.example # Exclure les fichiers de configuration d'exemple
# Fichiers de test
TestResults/   
